{%extends "layout.html"%}
{%block content%}
  <div>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="column1">Apartment Details.</th>
            </tr>
          </thead>
          <tbody>
              {%for items in data %}
              <tr>
                <td class="column1">{{ items[0] }}</td>
                <td class="column1">{{ items[1] }}</td>
                <td class="column1">{{ items[2] }}</td>
                <td class="column1">{{ items[3] }}</td>
                <td class="column1">{{ items[4] }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>

        <div class="newsletter-right">
          <form id="mc-form2" class="mailing-list cf" method = "post">
            <input id="mc-email2" type="text" value="" name="apt_detail_code" style = "padding-right:20px" style = "padding-left:20px"placeholder="apt_detail_code">
            <input id="mc-email2" type="text" value="" name="bhk" placeholder="bhk" style = "padding-right:20px" style = "padding-left:20px">
            <input id="mc-email2" type="text" value="" name="bathroom" placeholder="bathroom" style = "padding-right:20px" style = "padding-left:20px">
            <input id="mc-email2" type="text" value="" name="size" placeholder="size" style = "padding-right:20px" style = "padding-left:20px">
            <input id="mc-email2" type="text" value="" name="desc" placeholder="desc" style = "padding-right:20px" style = "padding-left:20px">
               <!--<button type="submit" onclick="window.location.href='deladmin' id="delete" class="btn btn-secondary">Delete Admin</button>-->
               <button type="submit" onclick="window.location.href='adddetails' id="add" class="btn btn-secondary">Add Type</button>
            </div>
          </form>
      <div class="container" style="padding-top: 20px" >

         <button type="button" onclick="window.location.href='/'"class="btn btn-secondary"  >Logout</button>
       </div
    </div>

  {%endblock%}
