{%extends "layout.html"%}
{%block content%}
  <div>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="column1">admin_id</th>
            </tr>
          </thead>
          <tbody>
              {%for items in data %}
              <tr>
                <td class="column1">{{ items[0] }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>

        <div class="newsletter-right">
          <form id="mc-form2" class="mailing-list cf" method = "post">
            <input id="mc-email2" type="text" value="" name="admin_id" style = "padding-right:20px" style = "padding-left:20px"placeholder="admin_id">
            <input id="mc-email2" type="text" value="" name="password" placeholder="password" style = "padding-right:20px" style = "padding-left:20px">
            <div class="container" style="padding-top: 50px" >
               <button type="submit" onclick="window.location.href='deladmin' id="delete" class="btn btn-secondary">Delete Admin</button>
               <button type="submit" onclick="window.location.href='addadmin' id="add" class="btn btn-secondary">Add Admin</button>
            </div>
          </form>
      <div class="container" style="padding-top: 20px" >

         <button type="button" onclick="window.location.href='/'"class="btn btn-secondary"  >Logout</button>
       </div
    </div>

  {%endblock%}
