{%extends "layout.html"%}
{%block content%}
  <div>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="column1">bid</th>
              <th class="column2">facility</th>
            </tr>
          </thead>
          <tbody>
              {%for items in data %}
              <tr>

                <td class="column1">{{ items[0] }}</td>
                <td class="column2">{{ items[1] }}</td>

              </tr>
              {% endfor %}
          </tbody>
        </table>

        <div class="newsletter-right">
          <form id="mc-form2" class="mailing-list cf" method = "post">
            <input id="mc-email2" type="text" value="" name="bid" style = "padding-right:20px" style = "padding-left:20px"placeholder="bid">
            <input id="mc-email2" type="text" value="" name="fac" placeholder="facilities" style = "padding-right:20px" style = "padding-left:20px">
            <div class="container" style="padding-top: 50px" >
               <button type="submit" id="insert" class="btn btn-secondary"  >Insert facility</button>
            </div>
          </form>
      <div class="container" style="padding-top: 20px" >

         <button type="button" onclick="window.location.href='/'"class="btn btn-secondary"  >Logout</button>
       </div
    </div>

  {%endblock%}
